body {
    background-color: #8fc1de;
    font-family: 'Courier New', Courier, monospace;
}

#cat {
    width: 150px;
    height: 50px;
    background: #90caf9;
    position: absolute;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}