:root {
    --cyan: #5bcefa;
    --pink: #f5a9b8;
    --pink-darker: #c48b96;
    --cyan-darker: #50a7cb;
}

body {
    background-color: #EEEEEE;
    font-family: Helvetica, sans-serif;
    color: #2F2F2F;
}

@keyframes transgender {
0% {color: lightskyblue;}
12.5% {color: pink;}
25% {color: white;}
37.5% {color: pink;}
50% {color: lightskyblue;}
62.5% {color: pink;}
75% {color: white;}
87.5% {color: pink;}
100% {color: lightskyblue;}
}

transgender {
animation-name: transgender;
animation-duration: 5s;
animation-iteration-count: infinite;
}

@keyframes blink {
0% {opacity: 0;}
50% {opacity: 0;}
50.01% {opacity: 1;}
99.99% {opacity: 1;}
100% {opacity: 0;}
}


body::-webkit-scrollbar {
    width: 18px;
    background: var(--cyan);
}

body::-webkit-scrollbar-thumb {
    background: var(--pink);
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--pink-darker);
}

h1.title {
    margin-bottom: 0;
}

p.subtitle {
    font-style: italic;
    margin-top: 0;
}

html{
        cursor: url('cursor.gif');
      }

::-moz-selection {
  background: var(--cyan);
}

::selection {
  background: var(--cyan);
}

a:link {
  color: var(--pink);
}

a:visited {
  color: var(--pink-darker);
}

a:hover {
  color: var(--cyan-darker);
}

a:active {
  color: var(--cyan);
}

html,body {
  cursor: url("../resources/cursor2.png"), auto;
  animation: cursor 0.8s linear infinite;    
}

@keyframes cursor {
  0% { cursor: url("../resources/cursor2.png"), auto; }
  100% { cursor: url("../resources/cursor3.png"), auto; }
}