body {
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    margin: auto;
}

main {
    width: calc(3/2 * 100vh);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

nav {
    flex: 20em;
    flex-grow: 0;
    padding-top: 3em;
}

#contents-list {
    padding-left: 0.5em;
}

#contents-list span {
    text-decoration: underline;
    cursor: pointer;
}

#contents-list li:hover {
    font-style: italic;
}

.tag,
.filter {
    border-radius: 1em;
    padding: 4px 6px;
    font-size: 0.8em;
}

.filter {
    background-color: #C48B96;
    cursor: pointer;
    display: inline-block;
}
.filter.active { background-color: #F5A9B8 ; }

#book {
    position: relative;
    background-image: url("../resources/food/foodStill.png");
    aspect-ratio: 3/2;
    width: 100%;
    background-size: 100%;
    box-sizing: border-box;
}

#book.flipping {
    background-image: url("../resources/food/foodForwards.gif");
}

.book-page .left {
    position: absolute;
    top: 15%;
    left: 9%;
    width: 37%;
    height: 64%;
}

.book-page .right {
    position: absolute;
    top: 15%;
    left: 52.5%;
    width: 37%;
    height: 64%;
}

.book-page h1 {
    font-size: 2.0em;
    font-weight: normal;
    margin-bottom: 0.2em;
}

.book-page .place-location {
    display: block;
    margin-bottom: 4px;
}

.book-page img {
    width: 100%;
    height: auto;
}

.hana-sez { background-color: var(--cyan); }
.drain-sez { background-color: var(--pink); }

.hana-sez, .drain-sez {
    padding: 1em;
    margin: 1em 0;
}

.hana-sez img,
.drain-sez img {
    width: 4em;
    height: 2.5em;
    object-fit: contain;
    margin-right: 7px;
}

.hana-sez img { float: left; }
.drain-sez img { float: right; }