body {

    width: calc(3/2 * 100vh);
    margin: auto;
    padding: 1em;

    display: flex;
    flex-direction: column;

}

.tag,
.filter {
    border-radius: 1em;
    padding: 4px 6px;
    font-size: 0.8em;
}

.filter {
    background-color: #C48B96;
    cursor: pointer;
    display: inline-block;
}
.filter.active { background-color: #F5A9B8 ; }

#book {
    position: relative;
    background-image: url("../resources/foodStill.png");
    aspect-ratio: 3/2;
    width: 100%;
    background-size: 100%;
    box-sizing: border-box;
}

.book-page .left {
    position: absolute;
    top: 6.8em;
    left: 6.2em;
    width: 25em;
    height: 29em;
}

.book-page .right {
    position: absolute;
    top: 6.8em;
    left: 36em;
    width: 25em;
    height: 29em;
}

.book-page h1 {
    font-size: 2.0em;
    font-weight: normal;
    margin-bottom: 0.2em;
}

.book-page .place-location {
    display: block;
    margin-bottom: 4px;
}

.book-page img {
    width: 100%;
    height: auto;
}

.hana-sez { background-color: var(--cyan);}
.drain-sez { background-color: var(--pink); }

.hana-sez, .drain-sez {
    padding: 0.5em 0.8em;
    margin: 1em 0;
}

.hana-sez img,
.drain-sez img {
    float: left;
    width: 4em;
}