body {
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    margin: auto;
    background-image: url("../resources/food/tablecloth.png");
    background-size: 20em;
}

main {
    width: calc(3/2 * 100vh);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    /*transform: rotate(5deg);*/
}

nav {
    flex: 20em;
    flex-grow: 0;
    padding-top: 3em;
}

#contents-list {
    padding-left: 0.5em;
}

#contents-list span {
    cursor: pointer;
    opacity: 60%;
}
#contents-list span:hover {
    font-style: italic;
}
#contents-list span.shown {
    text-decoration: underline dotted;
}
#contents-list span.shown,
#contents-list span.selected {
    opacity: 100%;
}
#contents-list span.selected {
    font-weight: bold;
    opacity: 100%;
}

.tag,
.filter {
    border-radius: 1em;
    padding: 4px 6px;
    font-size: 0.8em;
}

.filter {
    background-color: #C48B96;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
}
.filter.active { background-color: #F5A9B8 ; }

#book {
    position: relative;
    background-image: url("../resources/food/foodStill.png");
    aspect-ratio: 720/476;
    width: 80%;
    margin: 0 auto;
    background-size: 100%;
    box-sizing: border-box;
}

#book.flip-forward { background-image: url("../resources/food/foodForwards.gif"); }
#book.flip-backward { background-image: url("../resources/food/foodBackwards.gif"); }

.book-page .left {
    position: absolute;
    top: 8%;
    left: 7%;
    width: 40%;
    height: 83%;
}

.book-page .right {
    position: absolute;
    top: 8%;
    left: 52.5%;
    width: 40%;
    height: 83%;
}

.book-page h1 {
    font-size: 2.0em;
    font-weight: normal;
    margin-bottom: 5px;
}

.book-page h1 a, a:visited {
    color: initial;
    text-decoration: underline dotted var(--cyan-darker);
}
.book-page h1 a:hover {
    font-style: italic;
}

.book-page .place-location {
    display: block;
    margin-bottom: 4px;
}

.book-page img {
    width: 100%;
}

.book-page .place-image {
    aspect-ratio: 3/2;
    object-fit: contain;
}

.hana-sez { background-color: var(--cyan); }
.drain-sez { background-color: var(--pink); }

.hana-sez, .drain-sez {
    padding: 1em;
    margin: 1em 0;
    min-height: 2.5em;
}

.hana-sez img,
.drain-sez img {
    width: 4em;
    height: 2.5em;
    object-fit: contain;
    margin-right: 7px;
}

.hana-sez img { float: left; }
.drain-sez img { float: right; }