body {
    max-width: 50em;
    padding: 1em;
    margin: auto;
    background-image: url("../resources/underConstruction.gif");
    background-size: 20em;
}

main {
    background-color: #eeeeee;
    margin: 1em; padding: 1em;
}

/* draggable-cat starts as hidden */
#draggable-cat {
    position: fixed;
    cursor: move;
    visibility: hidden;
    pointer-events: none;
}

#draggable-cat.shown {
    visibility: initial;
    pointer-events: initial;    
}