body {
    max-width: 50em;
    padding: 1em;
    margin: auto;
}

/* draggable-cat starts as hidden */
#draggable-cat {
    position: fixed;
    cursor: move;
    visibility: hidden;
    pointer-events: none;
}

#draggable-cat.shown {
    visibility: initial;
    pointer-events: initial;    
}